span {
	padding: 5px 15px;
	margin: 0px 15px;
	border-bottom: solid;
	/*background: #777;*/
}

#statusBox {
	visibility: hidden;
}

#gameScreen img {
	height: 200px;
	width: auto;
}

#gameSpace {
	padding: 5px;
	margin-top: 10%;
	margin-bottom: 5%;
}

.footer {
	margin-top: 15px;
}