body {
	font-family: 'Bungee', cursive;
	font-size: 18px;
	background: #ccc;
	background-image: url('../images/OldTV.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size:100% 80%;
}

h1 {
	font-family: 'Bungee Shade', cursive;
}

.blue {
	color: blue;
}

#content {
  position:absolute;
  top:18%;
  /*height: 80%;*/
  left: 2%;
  right: 10%;
  bottom: 10%;
  overflow:auto;

}

#gameSpace span {
	padding: 5px 10px;
	margin: 0px 5px;
	border-bottom: solid;
	/*background: #777;*/
}

#gameScreen img {
	height: 200px;
	width: auto;
}

#gameSpace {
	padding: 5px;
	margin-top: 5%;
}

#gameSpace span.no-border {
	border-bottom: none;
}

#statusBox {
	visibility: hidden;
}

#win-game {
	display: none;
}

#win-game img {
	margin-top: 10%;
	width: 45%;
	height: auto;
}

#lose-game {
	display: none;
}

#lose-game img {
	margin-top: 10%;
	width: 45%;
	height: auto;
}