body {
	font-family: 'Baloo', cursive;
	font-size: 1.75em;
}
.blue {
	color: blue;
}

#gameSpace span {
	padding: 5px 15px;
	margin: 0px 15px;
	border-bottom: solid;
	/*background: #777;*/
}

#statusBox {
	visibility: hidden;
}

#gameScreen img {
	height: 200px;
	width: auto;
}

#gameSpace {
	padding: 5px;
	margin-top: 10%;
	margin-bottom: 5%;
}

#win-game {
	display: none;
}

#win-game img {
	width: 350px;
	height: auto;
}

#lose-game {
	display: none;
}

#lose-game img {
	width: 350px;
	height: auto;
}

#gameSpace span.no-border {
	border-bottom: none;
}

.footer {
	margin-top: 15px;
}

/* stick figure tests */
.head {
	left: 5px;
	display: inline;
	position: absolute;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	background: transparent;
	border: solid 2px black;
}

.body {
	left: 15px;
	top: 25px;
	display: inline;
	position: absolute;
	height: 25px;
	width: 3px;
	background: black;
}

.left-arm {

}

.right-arm {

}

.left-leg {

}

.right-leg {

}